h1 {
  width: 145px;
  height: 40px;
  font-family: OpenSans;
}

.logo {
  border: none;
  height: 37px;
  width: 139px;
  padding-left: 0px;
  padding-bottom: 0px;

}

.header_menu {
  width: 966px;
  height: 40px;
  background-color: white;
  background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}

.header_menu li {
  display: inline-block;
  width: 479px;
  height: 40px;
  line-height: 15px;
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.header_menu li:nth-child(2) {
  width: 100px;
  height: 40px;
}

.header_menu li:first-child {
  width: 150px;
  height: 40px;
}

.header_menu li:nth-child(3) {
  width: 114.5px;
  height: 40px;
}

.header_menu li:nth-child(4) {
  width: 114.5px;
  height: 40px;
}

.header_menu li:hover{
  height: 40px;
  background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
  border-left: 1px solid #838383;
  border-right : 1px solid #838383;
}

.header_menu li:first-child:hover{
  width: 148px;
}

.header_menu li:last-child:hover{
  width: 112.5px;
}

.header_menu li:nth-child(2):hover{
  width: 98px;
}

.header_menu li:nth-child(3):hover{
  width: 112.5px;
}






.left_menu {
  display: inline-block;
  width: 238px;
  vertical-align: top;
  height: 210px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 400;
  line-height: 37px;
  color: #656363;
  list-style-type: none;
  margin-top: 40px;
}



.left_menu li {
  width: 213px;
  height: 39px;
  border: 1px solid #c8c8c8;
}

.left_menu li:first-childld {
  border-top: none;
}

.left_menu li:hover{
  width: 213px;
  height: 39px;
  background-color: #f9f9f9;
}

.left_menu li:hover{
  text-indent: 23px;
  width: 213px;
  cursor: pointer;
}

.link {
  display: inline-block;
  width: 215px;
  height: 41px;
  text-indent: 25px;
}



.left_menu li a {
  color: #656363;
  text-decoration: none;
}

.img-txt {
  width: 678px;
  margin-top: 43px;
  display: inline-block;
  margin-left: 48px;
  margin-top: 40px;

}

img {
  width: 500px;
  height: 307px;
  display: inline-block;
  border: 1px solid #c8c8c8;
  padding: 46.5px 89px;
  margin-bottom: 41px;

}

.end_menu {
  width: 966px;
  height: 40px;
  color: #2c2c2c;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 400;
  line-height: 29px;
  background-color: white;
  background-image: linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
}

.end_menu li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.end_menu li:last-child {
  width: 154px;
  height: 40px;
  color: #2c2c2c;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 400;
  line-height: 29px;
  margin-left: 310px;


}

.end_menu li:nth-child(2) {
  margin-left: 93px;
}

.end_menu li:nth-child(3) {
  margin-left: 93px;
}

.end_menu li:nth-child(4) {
  margin-left: 93px;
}

.end_menu li:first-child {
  margin-left: 25px;
}

.end_menu li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.end_menu li:last-child:hover{
  text-decoration: none;
  cursor: default;
}
.header {
  margin-left: 48px;
}

.contain {
  margin-left: 48px;
  margin-top: 0px;
}

.footer {
  margin-left: 48px;
  margin-top: 60px;
}

.wrapper {
  width: 1062px;
  margin: auto;
}
